.App {
  text-align: center;
}

.mainContainer{
  margin-top: 5em;
}

.categories{
  border: solid 2px black;
}

#productTable{
  border: solid 2px black;
}

#signUp{
  margin-right: 0.5em;
}

#card-image{
  height: 400px;
  width: auto;
}

#productName{
  color: rgba(5, 99, 143, 0.808);
  text-decoration: none;
}

#productName:hover{
  text-decoration: underline;
}